body {
	 margin-top: 0px;
	 margin-left: 0px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
	 background: white;
}
div#app {
	 position: absolute;
    display: flex;
    flex-direction: column;
	 top:0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 z-index: -2;
	 overflow: hidden;
}
div.screen {
	 text-align: center;
}
h1 { 
	 display: inline;
}
table {
	 margin-top: 40px;
}
input[type=text], textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(61, 61, 170, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(61, 61, 170, 1);
}
input[type=password], textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(61, 61, 170, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(61, 61, 170, 1);
}
div#login { 
	 margin-top: 80px;
	 padding: 20px;
    background: #eee;
	 box-shadow: 0px 0px 8px grey;
	 display: inline-block;
	 text-align: center;
}
.dialogue_text {
    margin-bottom: 10px;
}
div#controls {
    background: #eee;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
	 width: 100%;
    height: 36px;
	 margin-top: 0px;
	 margin-left: 0px;
	 padding-top: 10px;
	 padding-bottom: 10px;
    box-shadow: #999 0px 0px 8px 0px;
/*	 background-image: linear-gradient(to bottom, rgba(255,255,255,1) 40%, rgba(0,0,0,0)); */
	 text-align: center;
}
span#control_panel {
    flex-grow: 0;
    padding-right: 20px;
}
span#control_panel a {
    text-decoration: none;
}
div#access_panel {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 100px;
    height: 300px;
    background: #ddd;
    box-shadow: #999 0px 0px 4px 0px;
}
div#controls img {
	 width: 40px;
	 vertical-align: middle;
	 float: right;
	 margin-right: 20px;
}
.expander {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    padding: 4px;
    background: red;
    z-index: 99999;   
    cursor: pointer;
}
#events {
    
}
#fullscreen {
	 display: none;
}
div#events_segment {
    width: 100%;
    flex-grow: 1;
	 overflow-y: auto;
	 z-index: -1;
}
div.event_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
div#event_segment {
    width: 100%;
    flex-grow: 1;
	 overflow-y: auto;
	 z-index: -1;
}
div#single_shot {
	 position: absolute;
	 top:0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 z-index: -2;
	 overflow: hidden;
	 white-space: nowrap;
	 background: black;
	 text-align: center;
	 opacity: 0;
}
div#slide_controls {
	 display: none;
	 position: absolute;
	 width: 100%;
	 top: 5px;
	 left: 0px;
	 padding-left: 10px;
	 right: 0px;
}
div#button_next {
	 position: relative;
	 display: inline-block;
	 background: url("fancybox/fancybox_sprite.png");
	 background-position: 0px 78px;
	 width: 33px;
	 height: 33px;
    cursor: pointer;	 
	 z-index: 9;
}
div#button_prev {
	 position: relative;
	 display: inline-block;
	 background: url("fancybox/fancybox_sprite.png");
	 background-position: 0px 113px;
	 width: 33px;
	 height: 33px;
    cursor: pointer;
	 z-index: 9;
}
div#button_close {
	 position: relative;
	 float: right;
	 margin-right: 20px;
	 display: inline-block;
	 background: url("fancybox/fancybox_sprite.png");
	 background-position: 0px 150px;
	 width: 33px;
	 height: 33px;
    cursor: pointer;
	 z-index: 9;
}
div.align_helper {
	 display: inline-block;
	 width: 0px;
	 margin: 0;
	 padding: 0;
	 height: 100%;
	 vertical-align: middle;
}
div#single_shot img {
	 margin: 0;
	 padding: 0;
	 display: inline-block;
	 max-width: 100%;
	 max-height: 100%;
	 vertical-align: middle;
/*	 box-shadow: 1px 1px 6px grey; */
}
div#event {
	 text-align: center;
}
div#events {
	 text-align: center;
}
span#event_header {
	 vertical-align: middle;
	 font-size: 25px;
	 width: 100%;
}
span#events_header {
    text-align: center;
	 font-size: 25px;
	 width: 100%;
}
div.event {
	 display: inline-block;
	 height: 320px;
	 width: 270px;
	 margin-left: 10px;
	 margin-right: 10px;
	 margin-bottom: 20px;
	 background: white;
	 box-shadow: 1px 1px 6px grey;
}
div.event_title {
    flex-grow: 1;
}
div.event a {
	 text-decoration: none;
}
div.event a:hover {
	 color: red;
}
div.event img {
	 width: 100%;
	 vertical-align: top;
	 background: white;
}

div.photo {
	 display: inline-block;
	 height: 270px;
	 width: 270px;
	 margin-left: 10px;
	 margin-right: 10px;
	 margin-bottom: 10px;
	 margin-top: 10px;
	 background: black;
	 box-shadow: 1px 1px 6px grey;
}
div.photo_title {
	 margin-top: 10px;
}
div.photo a {
	 text-decoration: none;
}
div.photo a:hover {
	 color: red;
}
div.photo img {
	 width: 100%;
	 vertical-align: top;
	 background: black;
}


div#spinner {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 z-index: 999;
}

@-moz-keyframes circles-loader {
  0% {
    -moz-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  50% {
    -moz-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@-webkit-keyframes circles-loader {
  0% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  50% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes circles-loader {
  0% {
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  50% {
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.circles-loader:not(:required) {
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: rgba(255, 204, 51, 0.9);
  border-radius: 100%;
  -moz-animation: circles-loader 3s infinite ease-in-out;
  -webkit-animation: circles-loader 3s infinite ease-in-out;
  animation: circles-loader 3s infinite ease-in-out;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.circles-loader:not(:required)::before {
  background: rgba(255, 102, 0, 0.6);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: -10.82532px;
}
.circles-loader:not(:required)::after {
  background: rgba(255, 51, 0, 0.4);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: 10.82532px;
}
